@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: whitesmoke;
}

.hide {
  display: none;
}

.board-card {
  background-color: rgb(222, 236, 248);
  border: solid 2px gray;
}

.pins {
  margin-top: 10px;
  background-color: whitesmoke;
  border: 0px;
  border-radius: 5px;
}

.pin-image {
  height: 30vw;
  object-fit: contain;
}

#pin-form {
  margin-top: 10px;
}

#add-board {
  margin-top: 10px;
}
